{{#each books}}
  <li id="searchlist" class="list-row">
    
    <h2 style="font-size: 2rem;">🕮</h2>
    <div class="list-col-grow">
      <div class="capitalize">{{this.author}}</div>
      <div
        class="text-xs uppercase font-semibold opacity-60"
      >{{this.title}}</div>
    </div>
    <div class="join">

      <a
        hx-push-url="true"
        hx-get="/books/{{this.id}}"
        hx-target="next form"
        class="btn btn-ghost btn-sm join-item"
      >
        ✎
      </a>
      <button
        hx-swap="outerHTML"
        hx-target="closest li"
        hx-delete="/books/{{this.id}}"
        class="btn btn-ghost btn-sm join-item"
      >
        ✗
      </button>
    </div>
  </li>
{{/each}}