<fieldset class="fieldset">
  <input
    type="text"
    class="input"
    autofocus
    placeholder="Author"
    name="author"
    value="{{book.author}}"
  />

  <input
    type="text"
    class="input"
    placeholder="Title"
    name="title"
    value="{{book.title}}"
  />
  <button type="submit" class="btn">Add Book</button>
</fieldset>