<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./dist/output.css">
    <link rel="icon" href="./images/book-favicon.png" type="image/x-icon">

    <script src="/htmx/htmx.min.js"></script>
    <title>ReadingList.</title>
    
</head>
<body>

            {{#if showHeader}}
                {{>headerPartial}}
            {{/if}}
            {{{body}}}
            {{#if showFooter}}
                {{>footerPartial}}
            {{/if}}

</body>
</html>

