<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./dist/output.css">
        <script src="/htmx/htmx.min.js"></script>
    <title>title</title>
    <script>
        // Enable logging of all htmx events
        **htmx.logAll();**
    </script>
</head>
<body>

            {{#if showHeader}}
                {{>headerPartial}}
            {{/if}}
            {{{body}}}
            {{#if showFooter}}
                {{>footerPartial}}
            {{/if}}

</body>
</html>

