
<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Reading List</h1>
      <p class="py-6">
        Explore new perspectives and find comfort in the pages of a book. Reading opens doors to knowledge and imagination, offering a moment of quiet connection with stories and ideas. Discover your next favorite read and the community that loves them.
      </p>
      <button hx-push-url="true" hx-swap="outerHTML" hx-target="body" hx-get="/books" class="btn btn-neutral">Show Books</button>
    </div>
  </div>
</div>
</div>